@import "tailwindcss";
@import "@repo/tailwind-config";
@import "@repo/ui/styles.css";

.column-message {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

input[type='text'],
input[type='number'],
input[type='email'],
input {
  font-size: 16px;
  color: var(--background);
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
  }
}

.app-container {
  @apply max-w-[1440px] mx-auto w-[90%];
}