@import "tailwindcss";
@import "@repo/tailwind-config";
@import "@repo/ui/styles.css";

.column-message {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}
